<div class="card mt-4">
    <h4 class="card-header">Admin</h4>
    <div class="card-body">
        <p>This page can be accessed <u>only by administrators</u>.</p>
        
        
</div>


<div class="container">

    
    <h5 class="d-flex justify-content-center">Hockey Club Database Admin</h5>

    
    <div>
        <h5 style="margin-bottom: 15px;margin-left: 20px;">Таблицы</h5>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">

            <li class="nav-item">
                <button routerLink="expenses" class="
                m-1 btn btn-light btn-outline-primary" Button>Expenses</button>
            </li>

            <li class="nav-item">
                <button routerLink="goals" class="
                m-1 btn btn-light btn-outline-primary" Button>Goals</button>
            </li>

            <li class="nav-item">
                <button routerLink="injuries" class="
                m-1 btn btn-light btn-outline-primary" Button>injuries</button>
            </li>

            <li class="nav-item">
                <button routerLink="injuryList" class="
                m-1 btn btn-light btn-outline-primary" Button> injury List</button>
            </li>

            <li class="nav-item">
                <button routerLink="managementWorkers" class="
                m-1 btn btn-light btn-outline-primary" Button> managementWorkers</button>
            </li>

            <li class="nav-item">
                <button routerLink="matches" class="
                m-1 btn btn-light btn-outline-primary" Button>matches</button>
            </li>

            <li class="nav-item">
                <button routerLink="opponents" class="
                m-1 btn btn-light btn-outline-primary" Button>opponents</button>
            </li>

            <li class="nav-item">
                <button routerLink="place" class="
                m-1 btn btn-light btn-outline-primary" Button>Place</button>
            </li>

            <li class="nav-item">
                <button routerLink="player" class="
                m-1 btn btn-light btn-outline-primary" Button>player</button>
            </li>
        </ul>
    </nav>
        </div>
        <div>
            <nav class="navbar navbar-expand-sm bg-light navbar-dark">
                <ul class="navbar-nav">
            <li class="nav-item">
                <button routerLink="seasons" class="
                m-1 btn btn-light btn-outline-primary" Button>seasons</button>
            </li>

            <li class="nav-item">
                <button routerLink="seasonTimeTable" class="
                m-1 btn btn-light btn-outline-primary" Button>season Time Table</button>
            </li>

            <li class="nav-item">
                <button routerLink="team" class="
                m-1 btn btn-light btn-outline-primary" Button>teams</button>
            </li>

            <li class="nav-item">
                <button routerLink="trainers" class="
                m-1 btn btn-light btn-outline-primary" Button>trainers</button>
            </li>

            <li class="nav-item">
                <button routerLink="trainingTimeTable" class="
                m-1 btn btn-light btn-outline-primary" Button>training Time Table</button>
            </li>

            <li class="nav-item">
                <button routerLink="worker" class="
                m-1 btn btn-light btn-outline-primary" Button>workers</button>
            </li>

            <li class="nav-item">
                <button routerLink="issueManW" class="
                m-1 btn btn-light btn-outline-primary" Button>Management workers information</button>
            </li>
        </ul>
    </nav>
        </div>

         
    <div>
        <h5 style="margin-bottom: 15px;margin-left: 20px;">Представления</h5>
    <nav class="navbar navbar-expand-sm bg-light navbar-dark">
        <ul class="navbar-nav">
        </ul>

        <li class="nav-item">
            <button routerLink="worker" class="
            m-1 btn btn-light btn-outline-primary" Button>workers</button>
        </li>
        
    </nav>
        </div>
        

        
</div>
<router-outlet></router-outlet>