<div class="form-froup row">

    <label class="col-sm-2 col-form-label">Diagnosis</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="diagnosis"
        placeholder="Enter diagnosis">
    </div>

    <label class="col-sm-2 col-form-label">Treatment</label>
    <div class="col-sm-10">
        <input type="text" class="form-control" [(ngModel)]="treatment"
        placeholder="Enter treatment">
    </div>
</div>

<button (click)="addInjuries()" *ngIf="inj.idInjuries==0" class="btn btn-primary">
    Add
</button>

<button (click)="updateInjuries()" *ngIf="inj.idInjuries!=0" class="btn btn-primary">
    Update
</button>
